/*
=========================== COMPONENTS ===========================
*/

.scroll-bar::-webkit-scrollbar {
  width: 0.65rem;
  height: 0.65rem;
}

.scroll-bar::-webkit-scrollbar-track {
  background: var(--bg5);
  border-radius: 0.5rem;
  margin: .7rem;
}

.scroll-bar::-webkit-scrollbar-thumb {
  background-color: var(--bg3);
  border-radius: 0.5rem;
}


.scroll-hidden::-webkit-scrollbar {
  display: none;
}