.frameBoxContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  overflow: hidden;
}

.frameBoxHeader {
  display: flex;
  align-items: center;
  background-color: var(--bg-hader);
  color: var(--txt-color3);
  padding: 0.7rem 1rem;
}

.frameConent {
  padding: 1rem;
  background-color: var(--bg4);
  color: var(--txt-color1);
  height: 100%;
  overflow: auto;
}
