.itemList {
  display: grid;
  grid-template-columns: 1fr 2.5rem;
  background: var(--bg4);
  border-radius: 0.5rem;
  max-width: 100%;
  box-shadow: 0 0 .5rem rgb(207, 207, 207);
  border: 1px solid var(--bg3);
}

.itemListContent {
  padding: 0.4rem 0.6rem;
  max-width: 100%;
}

.itemListLink {
  display: grid;
  place-content: center;
  height: 100%;
  width: 100%;
  background-color: var(--bg3);
  color: var(--txt-color3);
  border-radius: 0 0.3rem 0.3rem 0;
}
