.textContainer {
  position: relative;
  font-size: inherit;
  width: 100%;
}
.text {
  font-size: inherit;
  position: absolute;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  top: 0;
  left: 0;
  width: 100%;
}
.header {
  height: 1.3rem;
}
.normal {
  height: 1.3rem;
}
.small {
  height: 0.9rem;
}
